#output {
  padding: 1em;
}
#output :first-child {
  margin-top: 0
}
#output :last-child {
  margin-top: 0
}
#output h1, #output h2, #output h3, #output h4, #output h5, #output h6 {
  margin: 1.25em 0 0.5em 0;
  line-height: 1.2;
}
#output img {
  max-width: 100%;
}
#output pre, #output code, #output samp, #output kbd {
  color: #009;
  font-family: monospace, monospace;
}
#output pre kbd {
  color: #060;
}
#output pre, #output blockquote {
  background: #eee;
  padding: 0.5em;
}
#output pre {
  overflow: auto;
}
#output blockquote {
  border-left: medium solid #ccc;
  margin: 1em 0;
}
#output blockquote :first-child {
  margin-top: 0;
}
#output blockquote :last-child {
  margin-bottom: 0;
}
#output table {
  border-collapse: collapse;
}
#output th, #output td {
  border: thin solid #999;
  padding: 0.3em 0.4em;
  text-align: left;
}
@media (prefers-color-scheme: dark) {
  #output pre, #output code, #output samp, #output kbd {
    color: #6cf;
  }
  #output pre kbd {
    color: #9c6;
  }
  #output pre, #output blockquote {
    background: #000;
  }
  #output blockquote {
    border-color: #333;
  }
  #output th, #output td {
    border-color: #666;
  }
}
