0 1 * * * (date; certbot renew -n; date; echo ::::) >> /var/log/certbot-renew.log 2>&1
0 2 * * * (date; systemctl reload nginx; date; echo ::::) >> /var/log/nginx-reload.log 2>&1
0 3 * * * (date; make -C /opt/mathb.in/ backup; date; echo ::::) >> /var/log/mathb-backup.log 2>&1
